<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="FETPConfig" status="INFO">
	<Appenders>
		<Console name="RCONSL" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t - %r] %m%n"/>
		</Console>
		<File name="LIBRARYXMLFILE" filename="/src/main/resources/logs/libraryXml.log">
			<PatternLayout pattern="%M - %p - %m%n" charset="UTF-8"/>
		</File>
		<File name="SALESFILE" filename="/src/main/resources/logs/sales.log">
			<PatternLayout pattern="%M - %p - %m%n" charset="UTF-8"/>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="libraryXMLLogger" level="INFO" additivity="false">
			<AppenderRef ref="LIBRARYXMLFILE"/>
		</Logger>
		<Logger name="salesLogger" level="INFO" additivity="false">
			<AppenderRef ref="SALESFILE"/>
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="RCONSL"/>
		</Root>
	</Loggers>
</Configuration>